<!DOCTYPE html>

<html>
<head>

    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/Content/commoncss")

    @RenderSection("pagecss", false)

</head>
<body>

    @Html.Action("NavBar", "NavBar")

    <div id="page-content">
        @RenderBody()
    </div> 

    @Html.Action("Footer", "NavBar")

    @Scripts.Render("~/bundles/commonjavascript")

    @RenderSection("pagescripts", false)


</body>
</html>



